<!DOCTYPE HTML>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/eecscon-logo.png" />
  <title> EECScon 2017</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="stylesheets/style.css" rel='stylesheet' type='text/css' />
  <link href="stylesheets/animate.css" rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,900' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src = "/javascripts/index.js"></script>
  <script src = "/javascripts/particleground.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
  
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo-container" href='/'><img class="navbar-logo" src='images/eecscon-logo.png'></a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="/schedule">SCHEDULE</a><li>
          <li><a href="/abstracts">ABSTRACTS</a><li>
        </ul>
      </div>
    </div>
  </nav>
  <div id='triangles'>
    <div class='blue-triangle'></div>
    <div class='orange-triangle'></div>
    <div class='red-triangle'></div>
  </div>

  <!-- TODO change schedule ids to abstract ids; fill in abstracts -->

  <section id='schedule-container'>
    <div id='schedule'>
      <ul>
      <h2 id='schedule-heading'>EECScon 2017 Abstracts</h2>
        <li>
          <div class='time'>
            <div class='start-time'>11:30PM</div>
            <div class='end-time'>12:00PM</div>
          </div>
          <div class='event'>Check In and Lunch</div>
        </li>
        <li>
          <div class='time'>
            <div class='start-time'>12:00PM</div>
            <div class='end-time'>1:15PM</div>
          </div>
          <div class='event'>Oral Presentations</div>
        </li>
        <li>
          <div class='time'>
            <div class='start-time'>1:15PM</div>
            <div class='end-time'>3:00PM</div>
          </div>
          <div class='event'>Poster Presentations</div>
        </li>
        <li>
          <div class='time'>
            <div class='start-time'>3:00PM</div>
            <div class='end-time'>3:30PM</div>
          </div>
          <div class='event'>Rewards</div>
        </li>
      </ul>
    </div>
  </section>
    Under construction...
</body>
      
</html>
