<!DOCTYPE HTML>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/eecscon-logo.png" />
  <title> EECScon 2017</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="stylesheets/style.css" rel='stylesheet' type='text/css' />
  <link href="stylesheets/animate.css" rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,900' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src = "/javascripts/index.js"></script>
  <script src = "/javascripts/particleground.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
  
</head>

<body>
  {{!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a id="about" href = "#about2">ABOUT</a></li>
          <li><a id="blue" href = "/signup">APPLY</a></li>
          <li><a id="goto-faq" href ="#faq-actual" >FAQ</a></li>
          <li><a id="dates" href = "#team">TEAM</a></li>
          <li><a id="dates" href = "#sponsors">CONTACT US</a></li>
        </ul>
      </div>
    </div>
  </nav> --}}
  <div class='blue-triangle'></div>
  <div class='orange-triangle'></div>
  <div class='red-triangle'></div>
  <div id = "top">

   {{!--  <section id="main">
      <img id = "logo" src = "images/eecscon-logo.png" />
      <div class="main-title wow pulse">
          EECScon
      </div>
      <div class='main-subtitle wow pulse'>
          April 18, 2017
      </div>
      <section class="flat">
        <button id = "login-button" class = "flat1 wow pulse" ><a href = "/login">LOG IN</a></button>
        <button id = "signup-button" class = "flat2 wow pulse"><a href = "/signup">SIGN UP</a></button>
      </section>
    </section>
    <section id="subtitle">
      <p class = "wow fadeIn">  MIT's Premier Undergraduate Research Conference  </p>
    </section> --}}
    <section id = "main">

      <div class = "container-fluid">
          <div class = "row heading">
            {{!-- <div class = "col-md-3"></div> --}}

           {{!--  <div class = "col-md-2">
              <img id = "logo" src = "images/eecscon-logo.png" /> 
            </div> --}}
            <div class="col-md-6 col-md-offset-3 main-title wow pulse">
              EECSc<img id = "logo" src = "images/eecscon-logo.png" />n
            </div>
            {{!-- <div class='col-md-11 main-subtitle wow pulse'>
              April 18, 2017
            </div> --}}
          </div>
          {{!-- <div class = "row">
            <section class = "flat">
              <div class = "col-md-4 col-md-offset-2 col-lg-4">
                <button id = "login-button" class = "flat1 wow pulse" >LOG IN</button>
              </div>
              <div class = "col-md-4 col-lg-4">
                <button id = "signup-button" class = "flat2 wow pulse">SIGN UP</button>
              </div>
            </section>
          </div> --}}
          <div class = "row">
              <section class = "flat">
              <div class = "col-md-4"></div>
              <div class = "col-md-4">
                <a href="https://goo.gl/forms/rVCtLzIT9at3JOm22"><button id = "rsvp-button" class = "flat1 wow pulse" >RSVP</button></a>
              </div>
              <div class = "col-md-4"></div>
            </section>
            <section id="subtitle">
              <p class = "wow fadeIn">  MIT's Premier Undergraduate Research Conference  </p>
            </section> 
          </div>
      </div>
    </section>
  </div>

  <section id="about2">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-1"></div>
        <div class = "col-md-3">
          <div>
            <img id = "what" src = "images/what.png" />
          </div>
          <div class="title">
              What?
          </div>
          <div class="about-answer basic-info" >
                     EECScon is MIT’s premier undergraduate research conference. EECScon annually brings in hundreds of attendees, encompassing industry and academia professionals over a vast array of fields.
          </div>
        </div>
      
      <div class = "col-md-4">
          <div>
            <img id = "when" src = "images/when.png" />
          </div>
          <div class="title">
              When?
          </div>
          <div class="about-answer basic-info">
                     This year’s conference will be held on April 18, 2017 in the MIT Samberg Conference Center. There will be oral and poster presentations, along with free lunch and awards. EECScon 2017 is free, and registration is open to all MIT students, faculty, and affiliates.
          </div>
        </div>
      
      <div class = "col-md-3">
          <div>
            <img id = "who" src = "images/who.png" />
          </div>
          <div class="title">
              Who?
          </div>
          <div class="about-answer basic-info">
                      If you are an MIT undergraduate performing research, you are invited (and encouraged!) to submit your research work to be presented at the conference, regardless of your major!
          </div>
        </div>
    </div>
  </div>
  </section>

  <section id="faq">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-4 mission">
          <div class = "title"> A mission to connect, encourage, and enable the MIT community </div>
        </div>
        <div class = "col-md-4 text">
          <div class = "about-answer">
            EECScon empowers students to present their research in a formal setting to prominent academia and industry members. Top researchers are selected to communicate their work as oral presentations. 
          </div>
          <br />
          <div class = "about-answer">
            At EECScon, attendees have the unique opportunity of interacting with students presenting and discussing their passions. This engaging environment allows companies to successfully recruit MIT’s best and brightest students through a “reverse” career fair, and faculty to learn about some of the diverse research done at MIT. For more information about the conference, or if you wish to sponsor EECScon, please contact eecscon-chairs@mit.edu.
          </div>
        </div>
        <div class = "col-md-2">
          <div class = "about-answer ">
           <img id = "presenter-count" src = "images/presenter_count.png" />
          </div>
          <div class = "about-answer ">
           <img id = "attendees-count" src = "images/attendees_count.png" />
          </div>
          <div class = "about-answer ">
           <img id = "price" src = "images/price.png" />
          </div>
        </div>
        <div class = "col-md-2">
          <div class = "about-subtitle">
           PRESENTERS
          </div>
          <div class = "about-answer stats stat1">
            More than 70 oral and poster presenters
          </div>
          <div class = "about-subtitle">
           ATTENDEES
          </div>
          <div class = "about-answer stats stat2">
            Over 300 industry, academia, and community attendees
          </div>
          <div class = "about-subtitle">
           PRICE
          </div>
          <div class = "about-answer stats stat3">
            EECScon is free to attend!
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="faq-actual">
    <div class="title">
        FAQ
    </div>
    <div class = "faq-question ">
      When will abstract submission open?
    </div>
    <div class = "faq-answer ">
     Applications for EECScon 2017 are now closed - check back next year!
    </div>

    <div class = "faq-question">
            What are the requirements?
    </div>
    <div class = "faq-answer ">
      We suggest at least one term of research experience, such as part-time work in the fall or full-time research over IAP. This usually provides enough depth of research to allow you to make a good poster or oral presentation. Please note that your research may be incomplete by the abstract deadline (February 21), but it must be ready a few weeks before the conference (early April).
    </div>
    <div class = "faq-question ">
      Am I eligible?
    </div>
    <div class = "faq-answer ">
       Any undergraduate student is eligible to submit and present at EECScon! Although we originally targeted course 6 students, we'd love to have you present your research regardless of your major.
    </div>
     <div class = "faq-question">
      Can first year students submit abstracts?
    </div>
    <div class = "faq-answer ">
      YES! We strongly encourage any undergraduate student with research experience to apply to EECScon. Every year, we’ve had a number of first-year students present on their research. In fact, one year the oral presentation winner was a first-year student.
    </div>
    <div class = "faq-question">
      What should the abstract contain?
    </div>
    <div class = "faq-answer ">
      Abstracts must be no longer than 200 words and should introduce:
      <br />
      <ul>
        <li>the context of the work (including research question/problem) </li>
        <li> an outline of the solution's approach </li>
        <li> results/data (if any) </li>
      </ul> 
    </div>
    <div class = "faq-question">
      How does the review process work?
    </div>
    <div class = "faq-answer ">
      All submissions will automatically be considered for the poster session, and you will have the option to additionally be considered to give one of a few oral presentations. Accepted students will have the opportunity to be given help and feedback from graduate student mentors familiar with the research area.
    </div>
    <div class = "faq-question">
      Are there awards?
    </div>
    <div class = "faq-answer ">
      Yes, there are monetary awards! In past years, several top oral and poster presentations have won awards and prizes.
    </div>
    <div class = "faq-question">
      Not sure if you’re eligible or ready to submit? Other questions?
    </div>
    <div class = "faq-answer ">
      Drop us an <a href = "mailto:eecscon-chairs@mit.edu">email</a> at eecscon-chairs@mit.edu and we’ll be glad to talk it over!
    </div>
    {{!-- <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-1"></div>
        <div class = "col-md-3">
          <div class = "about-answer ">
            When will abstract submission open?
          </div>
          <div class = "about-answer ">
            Submissions for EECScon 2017 have opened - sign up above to submit an abstract!
          </div>
        </div>
        <div class = "col-md-4">
          <div class = "about-answer ">
            What are the requirements?
          </div>
          <div class = "about-answer ">
            We suggest at least one term of research experience, such as part-time work in the fall or full-time research over IAP. This usually provides enough depth of research to allow you to make a good poster or oral presentation. Please note that your research may be incomplete by the abstract deadline (February 21), but it must be ready a few weeks before the conference (early April).
          </div>
        </div>
        <div class = "col-md-3">
          <div class = "about-answer ">
            Am I eligible?
          </div>
          <div class = "about-answer ">
              Any undergraduate student is eligible to submit and present at EECScon! Although we originally targeted course 6 students, we'd love to have you present your research regardless of your major.
          </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-1"></div>
        <div class = "col-md-3">
          <div class = "about-answer ">
            Can first year students submit abstracts?
          </div>
          <div class = "about-answer ">
            YES! We strongly encourage any undergraduate student with research experience to apply to EECScon. Every year, we’ve had a number of first-year students present on their research. In fact, one year the oral presentation winner was a first-year student.
          </div>
        </div>
        <div class = "col-md-4">
          <div class = "about-answer ">
            What should the abstract contain?
          </div>
          <div class = "about-answer ">
            Abstracts must be no longer than 250 words and should introduce the context of the work (including research question/problem), an outline of the solution's approach, and results/data (if any).
          </div>
        </div>
        <div class = "col-md-3">
          <div class = "about-answer ">
            How does the review process work?
          </div>
          <div class = "about-answer ">
             All submissions will automatically be considered for the poster session, and you will have the option to additionally be considered to give one of a few oral presentations. Accepted students will have the opportunity to be given help from graduate student mentors.
          </div>
        </div>

    </div>
  </div> --}}
  </section>

<section id="team" >
    <div class="team-title">
         2017 PROGRAM COMMITTEE
      </div>
    <div class = "container-fluid">
      <div class = "team-members row">
        <div class = "col-md-3">
          <img id = "voldman" src = "images/voldman.jpeg" />
          <div class="person-title">
              JOEL VOLDMAN
          </div>
          <hr>
          <div class="about-answer">
                     Faculty Advisor
          </div>
           <div class="about-answer ">
                     Professor Joel Voldman is a principal investigator in the Research Laboratory of Electronics (RLE) at MIT. His research group focuses on microfluidics applied to cell biology.
          </div>
        </div>
      <div class = "col-md-3">
        <img id = "collins" src = "images/collins.png" />
          <div class="person-title">
              CHADWICK COLLINS
          </div>
          <hr>
          <div class="about-answer ">
                      Administrative Assistant
          </div>
           <div class="about-answer ">
                     Chad Collins, Administrative Assistant for the RLE Computational Prototyping Group, joined RLE in the Fall of 2001.
          </div>
        </div>
      <div class = "col-md-3">
          <img id = "zhou" src = "images/zhou.jpg" />
          <div class="person-title">
              LIANG ZHOU
          </div>
          <hr>
          <div class="about-answer  ">
                      Co-chair
          </div>
           <div class="about-answer ">
                      Liang is a junior studying EECS (6-2) and BCS (9) at MIT. He is interested in computational neuroscience and cognitive science.
          </div>
        </div>
       <div class = "col-md-3">
        <img id = "martinez" src = "images/martinez.png" />
          <div class="person-title">
              DOMINIK MARTINEZ
          </div>
          <hr>
          <div class="about-answer">
                     Co-chair
          </div>
          <div class="about-answer">
                      Dominik is a sophomore studying EECS (6-2) at MIT. He is currently doing research in the MIT Media Lab.
          </div>
        </div>
    </div>
  </div>
  </section>

{{!-- 
  <div class = "dates">
    <a name="terms"></a>
    <section id="terms">
      <div class="title">
        Timeline
      </div>
      <div class="content">
        <div class="term-item">
          <div class="term-heading">
           Early February 2017: Applications Open
          </div>    
        </div>
        <hr width="200" size = "10">
        <div class="term-item">
          <div class="term-heading">
           Late February 2017: Application deadline
          </div>
        </div>
        
        <hr width="200" size = "10">
        <div class="term-item">
          <div class="term-heading">
           April 18, 2017: EECScon 2017
        </div>
      </div>
    </section>

    <section id = "border">
    </section>
   <section id = "partners">
      <div class="title">
        Sponsors
      </div>
      <div class="content">
        <div class="partner-item">
          <div class="partner-heading">
           MIT EECS Department
          </div>
        </div>
        <div class="partner-item">
          <div class="partner-heading">
           MIT Lincoln Labs
          </div>
        </div>
       
        <div class="partner-item">
          <div class="partner-text">
           Looking to partner with EECScon?  Please contact us through <a id = "contact" href="mailto:eecscon-sponsors@mit.edu">email</a>!
 
          </div>
        </div>
      </div>
    </section>
</div> --}}


  <section id="sponsors">
      <div class="title">
        If you have any questions, feel free to email us at eecscon-chairs@mit.edu!
      </div>
  

  <footer>
    <div class="icons">
      <a href="https://www.facebook.com/eecscon/?fref=ts" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="mailto:eecscon@mit.edu"><i class="fa fa-envelope fa-2x"></i></a>
      
    </div>
    <div class="copyright">
      &copy; <a href="http://eecscon.mit.edu/" target="_blank">MIT EECScon</a> 2017. 
    </div>
    <div class="elevator">
      <a id="elevator" href="#main">Back to top</a>
    </div>
  </footer>
  </section>

</body>
      
</html>
