<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Hello,</p>
  <p>Thank you for signing up for EECScon! Please confirm your email by clicking the link below or copying and pasting it into your browser.</p>
  <p>{{confirmationLink}}</p>
  <p>Thanks!</p>
  <p>EECScon Planning Committee</p>
  <br/>
  <p>If you think this email was sent by mistake, please ignore it. For more information, visit eecscon.mit.edu</p>
</body>

</html>