<!DOCTYPE HTML>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/ootb-title-logo.jpeg" />
  <title> THINK: Out of the Box Application</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="stylesheets/submission.css" rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,900' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src = "/javascripts/index.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a id="about" href = "/">ABOUT</a></li>
          <li><a id="blue" href = "/application">APPLY</a></li>
          <li><a id="goto-faq" href ="/" >FAQ</a></li>
          <li><a id="dates" href = "/">TIMELINE</a></li>
          <li><a id="dates" href = "/">PARTNERS</a></li>
        </ul>
      </div>
    </div>
  </nav>



  <section id="thanks">
  <div class="title">
        Thanks for applying to Out of the Box! We'll get back to you with results soon!
      </div>

  </section>


    <img id = "logo" src = "images/ootb-logo.png" />

    <div class="form-style-5">
     <a href="/">
          <input type="button" value="Return to Home Page" />
     </a>
    </div>


</body>


</html>